@charset "UTF-8";

.wrapper {
	display: flex;
	min-height: 100vh;
}
.top-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 50px;
}

.logout a{
	font-size: 14px;
	color: var(--primary-color);
	cursor: pointer;
}

/* 본문 컨텐츠 영역 */
.main {
	flex: 1;
	padding: 30px 50px;
	display: flex;
	flex-direction: column;
}
.register-container{
	margin-top:10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 20px;
}
.image-upload {
	display:flex;
	flex-flow:column;
	width: 550px;
	height: 550px;
	background: #F0F0F0;
	border-radius:12px;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.image-label{
	font-size: 30px;
}
.image-upload .uploadImg {
	width: 50px;
	height: 50px;
}

.data-container {
	flex:1;
	display: flex;
	flex-flow: column wrap;
}

.textbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.text-label {
	font-size: 20px;
	margin-bottom: 16px;
}

.form-row {
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px); /* 두 칸씩 배치 */
	margin-bottom: 10px;
}



.full-width {
  width: 100% !important;
}

.form-row input{
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
}

.form-row input::placeholder {
	color: #6c757d;      /* 회색 계열 */
	font-size: 1em;      /* 부모 input의 font-size 상속 (보통 16px) */
	font-style: normal;
	font-weight: 400;
}

.textarea-container {
  flex: 1;
  width: 100%;
  margin-top: 20px;
}

.textarea-container textarea{
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
}
.submit-container{
	margin-top: 40px;
	display: flex;
	justify-content:center;
}
input[type="submit"]{
	width: 230px;
	height: 56px;
	border: 1px solid var(--primary-color);
	border-radius: 16px;
	background: var(--primary-color);
	color: #FFFFFF;
	font-size: 26px;
}
