@charset "UTF-8";

.main {
	height: 100vh;
	background: linear-gradient(to bottom, #A0E7E5, #B9D7FF);
}
.main .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main .content p {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	line-height: 4.6rem;
}
.main .content p span {
	color: var(--primary-color);
}
.main .content .link {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 24px;
}
.main .content .link a {
	padding: 10px 30px;
	height: 56px;
	font-size: 26px;
	line-height: 2.1rem;
	color: var(--text-white);
	border-radius: 16px;
	background-color: var(--primary-color);
}